@{
    ViewData["Title"] = "Home Page";
}

<div class="col-m-12 text-center mt-3 pb-5 w-100 h-100">
    <h1 class="display-4">Welcome</h1>
    <h3>Code with Premnath</h3>
    <p class="pt-3">This MVC application features a collection of car brands,allowing users to perform CRUD operations on them.</p>
</div>
