  @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Code with Premnath</h3>
    <p>This MVC application features a collection of car brands,allowing users to perform CRUD operations on them.</p>
</div>
